<br/>
<br/>
<p><font size="20">One-time setup</font></p>
<br/>
<p><font size="20">Step one:</font></p>
<a href="cert.pem" rel=\"nofollow\" target=\"_blank\"><p><font size="40">Download certificate</font></p></a>
<br/>
<p><font size="20">Step two:</font></p>
<p><font size="20">General -> Profiles & Device Management</font></p>
<br/>
<p><font size="20">Step three:</font></p>
<p><font size="20">General -> About -> Certificate Trust Settings</font></p>
<br/>
